@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
}

/* Solution */

ul {
  list-style: none;
  padding: 0;
}

a {
  text-decoration: none;
  color: rgb(106, 105, 105);
}

 body, .header, .left-links, .right-links, .footer, .content {
  display: flex;
}

.header, .footer {
  justify-content: space-between;
  height: 20px;
  align-items: center;
}

.content {
  flex-direction: column;
  align-items: center;
  align-self: center;
}

.footer {
  background-color: rgb(230, 228, 228);
}

body {
  flex-direction: column;
  justify-content: space-between;
  margin: 0;
}
.left-links, .right-links {
  gap: 15px;
}
.header, .footer {
  padding: 20px;
}
