.odd {
  background-color: rgb(226, 88, 88);
  font-family: "Verdana","DejaVu Sans","sans-serif";
}

#two {
  color: rgb(0,0,255);
  font-size: 36px;
}

#four {
  background-color: rgb(146, 238, 146);
  font-weight: bold;
}
.font_adjust {
  font-size: 24px;
}